body {
  background: #262626;
}
.App {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 50vw;
  justify-content: space-around;
  align-items: center;
}

.title{
  font-size: 2rem;
  /* text-align: center; */
  color: white;
}
